body{
    color: #fff200;
    font-family: 'Times New Roman', Times, serif;
    background: url('back.jpeg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.btn{
    background-color: #ff9d00;
	border-radius: 15px;
	width: 250px;
    height: 50px;
}

.kolom{
    width: 240px;
}
.background{
    padding: 14%;
    text-align: center;
}
.link{
    color: #ff7300;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.view{
    color: yellow;
}